nav#header.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .container
        a(class="navbar-brand", href="#") 
            img(src="images/logo-02.png", alt="Asteria Logo") 
            span Asteria Hotel
        button(
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
            aria-controls="navbar"
            aria-expanded="false"
            aria-label="Toggle navigation"
        )
            span(class="navbar-toggler-icon")
            
        #navbar(class="collapse navbar-collapse")
            ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                li.nav-item.active
                    a.nav-link(href="#about-us") ¿Quiénes somos?
                li.nav-item
                    a.nav-link(href="#instalaciones") Instalaciones
                li.nav-item
                    a.nav-link(href="#paquetes") Paquetes
                li.nav-item
                    a.nav-link(href="#") ¡Haz tu reserva!
            form.form-inline.my-2.mr-md-0
                button.btn.btn-outline-light.mr-2(type="button") Iniciar Sesión
                button.btn.btn-light.my-2.my-sm-1(type="button") Registrate
