extends layouts/layout_profile

block content
  include navbar.pug
  .container-fluid
        .row.justify-content-center
            .col-sm-12.col-md-8.col-xl-4
                .user-container 
                    h1.text-center.pt-2 #{user.name} #{user.lastname}
                    img(src='../images/usuario.png' class="mx-auto mb-3" alt=`${user.name} ${user.lastname}`)
                    form(action = '/users/login' method='POST')
                            p.text-center.pt-2  Email: 
                              em #{user.email}
                            p.text-center.pt-2 Telefono: 
                              em #{user.phone}
                            p.text-center.pt-2 Edad: 
                              em #{user.age}
                            
                                      
                            
         
        section#reservation
            if reservaciones.length
              .reservas-container
                .row-content-center
                    .row.pt-4
                        .col.text-center.text-uppercase.mt-3.mb-3
                           h1.text-center.pt-2 Reservas
                           include partials/messages.pug
                    .row.justify-content-center.pb-4
                      each reserva in reservaciones
                        .col-12.col-md-6.col-lg-4.mb-3
                            .card.h-100
                                h3.card-header.text-center.text-uppercase Paquete #{reserva.package}
                                .card-body
                                    p.card-text.text-uppercase  Entrada: 
                                      em #{reserva.arrive_date}
                                    p.card-text.text-uppercase  Fecha de salida:  
                                      em #{reserva.departure_date}
                                    p.card-text.text-uppercase  Habitacion:  
                                      em #{reserva.room}
                                    form(action='/reservaciones/delete/' + reserva.id + "?_method=DELETE" method="POST")
                                     .form-group
                                        input(type="hidden", name='_method', value='DELETE')
                                        button.btn.btn-danger.btn-block(type='submit') Eliminar
                          
                                    
                        

            else
              .reservas-container
                .row.justify-content-center
                    .row.pt-2
                        .col.text-center.text-uppercase.mt-3.mb-3
                           h1.text-center.pt-2 No hay reservas todavia
                           include partials/messages.pug
                           a(href="/reservaciones", class="btn btn-primary btn-block") Añadir reserva
                    .row.pb-4
              
  include footer.pug

                    

      

