extends layouts/layout_signup

block content
    .container-fluid
        .row.justify-content-center
            .col-sm-6.col-md-4
                h1 Registrate
                h2 ¡Vive la experiencia!
                form(action="#")
                    .form-group
                        label(for="email") Correo Electronico
                        input(
                            type="email"
                            class="form-control"
                            placeholder="example@gmail.com"
                        )
                        label(for="pass") Contraseña
                        input(
                            type="password"
                            class="form-control"
                            placeholder="Contraseña"
                        )
                        label(for="verify") Confirmar contraseña
                        input(
                            type="password"
                            class="form-control"
                            placeholder="Confirmar contraseña"
                        )
                        button(
                            type: "submit"
                            class="btn btn-primary"
                        ) Registrarme
